* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #c2e59c;
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    background: linear-gradient(to right, #64b3f4, #c2e59c);    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2em;
    display: flex;
}

#location {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 3px #000000;
}

#temperature {
    font-weight: bold;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 3px #000000;
}

.block {
    padding: 2em;

}

.info {
    margin: 5px;
    margin-top: 0;
}

p {
    font-size: small;
}

.barra-footer {
    position: fixed;
    bottom: 15px;
    text-decoration: none;
}
